.box {
  margin: 20px;
  background-color: rgb(246, 246, 239);
  border: double;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.content {
  border: 1px solid #ccc;
  padding: 20px;

}

.btn {
  padding: 10px 20px;
  background-color: #454f5b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #90a1b1;
}

.details {
  margin-top: 10px;
  font-size: 16px;
}

.click-count {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input {
  flex: 1;
  padding: 10px;
}

.add-button {
  margin-left: 10px;
}

.item-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.highlight {
  background-color: #007bff;
  color: #fff;
}